<div class="container">
    <form class="form-inline my-2 my-lg-0">
        <input [(ngModel)]="keyword" name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="doSearch()">Search</button>
      </form><br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nom de l'employer</th>
          <th scope="col">Numero CIN</th>
          <th scope="col">Phone</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pointage of pointages">
          <td scope="row">{{pointage.employerName}}</td>
          <td>{{pointage.cin}}</td>
          <td>{{pointage.phone}}</td>
          <td>{{pointage.date}}</td>
        </tr>
      </tbody>
    </table>
</div>
