<div class="container">
    <h3 style="color: gray">Inscription</h3>
    <hr>
    <div class="alert alert-danger col-md-3" role="alert"  *ngIf="errorMessage">{{errorMessage}}</div>
    <br>
    <div class="row">
      <form name="form" #f="ngForm" class="contact-form" (ngSubmit)="f.form.valid && registration(f.value)" >
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" ngModel #username="ngModel" [ngClass]="{'is-invalid':f.submitted && username.invalid}" 
                name="username" placeholder="E-mail" required email>
                <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                  <div *ngIf="username.errors.required">Vous devez indiquer votre email !</div>
                  <div *ngIf="username.errors.email">Vous devez entrer un email valide !</div>
                </div>            
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                 <input type="password" class="form-control" ngModel [ngClass]="{'is-invalid':f.submitted && password.invalid}" 
                 name="password" #password="ngModel" placeholder="mot de passe" required minlength="8"/>
                 <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required">Vous devez indiquer votre mot de passe !</div>
                    <div *ngIf="password.errors.minlength">votre mot de passe doit contenir au moin 8 caracetres !</div>
                  </div>  
              </div>
            </div>
        </div><br>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-outline-dark">confirmer</button>
          </div>
        </div>
      </form>
    </div>
  </div>