<div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Connexion</h2>
                    <p>Enter votre email et mot de passe</p>
                </div>
                <form id="Login" #f="ngForm" (ngSubmit)="f.form.valid && onLogin(f.value)"> 
                    <div class="alert alert-danger"  *ngIf="errorMessage">{{errorMessage}}</div>
                    <div class="form-group">            
                        <input type="email" class="form-control" ngModel [ngClass]="{'is-invalid':f.submitted && username.invalid}" 
                        placeholder="E-mail" name="username"  #username="ngModel" required email>       
                        <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                            <div *ngIf="username.errors.required">Vous devez indiquer votre email !</div>
                            <div *ngIf="username.errors.email">Vous devez entrer un email valide !</div>
                        </div> 
                    </div>        
                    <div class="form-group">        
                        <input type="password" class="form-control" ngModel #password="ngModel" placeholder="Mot de passe" name="password"
                        [ngClass]="{'is-invalid':f.submitted && password.invalid}" required password>         
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors.required">Vous devez ecrire votre mot de passe !</div>
                        </div> 
                    </div>
                    <div class="oublié">
                        <a >mot de passe oublié?</a>
                    </div>
                    <button type="submit" class="btn btn-primary">SE CONNECTER</button>
                </form>
            </div>
        </div>
      </div>
      
      