<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Pointage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <div *ngIf="isAuthenticated()" class="col-md-5" [routerLink]="['/pointage']"><a class="nav-link">listes pointage</a></div>
        <div class="col-md-10"></div>
        <div class="col-md-10"></div>
        <div class="col-md-10"  *ngIf="!isAuthenticated()"></div>
        <div class="col-md-4"></div>
        <div class="col-md-3" *ngIf="isAuthenticated()">
          <button class="btn btn-outline-dark" [routerLink]="['/login']" (click)="logOut()">Déconnexion</button>
        </div>
        <div *ngIf="!isAuthenticated()"class="col-md-10" >
          <button class="btn btn-outline-dark" [routerLink]="['/registration']">inscription</button>&nbsp;
          <button class="btn btn-outline-dark" [routerLink]="['/login']">login</button>
        </div>
    </div>
  </div>
</nav><br><br><br>

<router-outlet></router-outlet>
